.p0 {
    padding: 0px;
}

.p5 {
    padding: 5px;
}

.p10 {
    padding: 10px;
}

.p20 {
    padding: 20px;
}

.pl5 {
    padding-left: 5px;
}

.pl10 {
    padding-left: 10px;
}

.pt5 {
    padding-top: 5px;
}

.pt15 {
    padding-top: 15px;
}

.pt20 {
    padding-top: 20px;
}

.pt50 {
    padding-top: 50px;
}

.pr5 {
    padding-right: 5px;
}

.pb0 {
    padding-bottom: 0px;
}

.pb5 {
    padding-bottom: 5px;
}

.pb10 {
    padding-bottom: 10px;
}

.px5 {
    padding-left: 5px;
    padding-right: 5px;
}

.px10 {
    padding-left: 10px;
    padding-right: 10px;
}

.px15 {
    padding-left: 15px;
    padding-right: 15px;
}

.px20 {
    padding-left: 20px;
    padding-right: 20px;
}

.py5 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.py10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.py15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.py20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.m0 {
    margin: 0px;
}

.m5 {
    margin: 5px;
}

.m10 {
    margin: 10px;
}

.m20 {
    margin: 20px;
}

.ml5 {
    margin-left: 5px;
}

.ml10 {
    margin-left: 10px;
}

.mt5 {
    margin-top: 5px;
}

.mt15 {
    margin-top: 15px;
}

.mt20 {
    margin-top: 20px;
}

.mt50 {
    margin-top: 50px;
}

.mr5 {
    margin-right: 5px;
}

.mb0 {
    margin-bottom: 0px;
}

.mb5 {
    margin-bottom: 5px;
}

.mb10 {
    margin-bottom: 10px;
}

.mx10 {
    margin-left: 5px;
    margin-right: 5px;
}

.mx10 {
    margin-left: 10px;
    margin-right: 10px;
}

.mx15 {
    margin-left: 15px;
    margin-right: 15px;
}

.mx20 {
    margin-left: 20px;
    margin-right: 20px;
}

.my5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.my10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.my15 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.my20 {
    margin-top: 20px;
    margin-bottom: 20px;
}